extends ./_layouts-includes/_layout.jade

block content

  .hero-poster.left
    .content-wrapper
      .content
        | hello
  .hero-poster.right.xpro2
  





  //- holds inline ui-lang and jquery
  include ./_layouts-includes/_interaction.jade