@import "node_modules/ui-sketchbook/sasslib/sasslib";
@include ui-sketchbook-defaults;
// @import "./node_modules/semantic-ui-css/semantic.css"; // Semantic UI semantic-ui.com
// @import "./node_modules/cssgram/source/css/cssgram.css";
@import "./node_modules/cssgram/source/scss/xpro2.scss";




.hero-poster {
  // border: 2px dotted red;
  position: relative;
  background-image: url(/assets/bucket/oxygene.jpg);
  background-size: cover;
  background-position: center;

  @media screen and (orientation: landscape) {
    height: 100vh;
    width: 49vw;
    float: left;
  }

  @media screen and (orientation: portrait) {
    height: 100vw;
    width: 100vw;

  }

  &.left {
    background-image: url(/assets/bucket/oxygene-left.jpg);
  }
  &.right {
    background-image: url(/assets/bucket/oxygene-right.jpg);
  }

}

/* property name | duration | timing function | delay */
// transition: margin-left 4s ease-in-out 1s;

@keyframes enter {
  0% { bottom: -10%; left: 20%; opacity: 0 }
  25% { bottom: -10%; left: 20%; opacity: 0 }
  50% { bottom: 5%; left: 20% }
  90% { bottom: 10%; left: 20% }
  97% { bottom: 51%; left: 20% }
  98% { bottom: 51%; left: 20% }
  99% { bottom: 51%; left: 20% }
  100% { bottom: 50%; left: 20%; opacity: 1 }
}

@keyframes wobbling {
  0% {
    transform: translate(-0.66em, -0.23em) scaleY(1.04) skew(-3.8deg, 0.2deg);
  }
  50% {
    transform: translate(0.17em, -0.36em) skew(0.9deg, -1.2deg);
  }
  100% {
    transform: translate(-0.66em, -0.23em) scaleY(1.04) skew(-3.8deg, 0.2deg);
  }

}

.content-wrapper {
  animation-duration: 4s;
  animation-name: enter;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  bottom: 50%; left: 20%;
  position: absolute;

}

.content {
  position: absolute;

  background-color: $black;
  color: $yellow;
  padding: 1em 2em;
  font-weight: 900;
  @media screen and (orientation: landscape) {
    font-size: 5vh;
  }
  @media screen and (orientation: portrait) {
    font-size: 3vh;
  }

  // border: 3px solid $yellow;


  // transform: translate(#{random(20) / 100}em, #{random(50) / -100}em) skew(#{random(15) / 10}deg, #{random(15) / -10}deg)


  // transform: translate(-0.66em, -0.23em) scaleY(1.04) skew(-3.8deg, 0.2deg);

  // transform: translate(#{random(70) / -100}em, #{random(30) / -100}em) scaleY(#{random(10) / 100 + 1})  skew(#{random(40) / -10}deg, #{random(8) / 10}deg);
    @mixin wobbling {
      animation-duration: 50s;
      animation-name: wobbling;
      animation-iteration-count: infinite;
    }

    @include wobbling;



  &::after {
    content: " ";
    border: 3px solid $yellow;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    // transform: translate(#{random(20) / 100}em, #{random(50) / -100}em) skew(#{random(15) / 10}deg, #{random(15) / -10}deg)
    @include wobbling;
  }

}



















body {
  // padding-top: 5em;
  color: $black;
  text-align-last: 1; // this only exists to get an autoprefixer positive
}

